body {
    margin: 0px;
    padding: 0px;
    background:#000;
}

.container {
    font-family: Arial,Helvetica, sans-serif;
    color:#fff;
    font-weight: bold;
    position: absolute;
    top: 50px;
    left: 50px;
    transform:translate(-50%, -50%);
    font-size:80px;
}